@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranYekan";
  src: url("/fonts/woff2/IRANSansX-Regular.woff2") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranYekan, sans-serif;
}

.bg {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: moveBackground 10s ease-in-out infinite;
}

.bgsingup {
  background-image: url("/images/singup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatingBackground 10s ease-in-out infinite;
}

.bglogin {
  background-image: url("/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatingBackground 10s ease-in-out infinite;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.wave-background {
  background: linear-gradient(
    45deg,
    #e0f7fa,
    #b2ebf2,
    #4dd0e1,
    #26c6da,
    #00bcd4
  );
  background: linear-gradient(
    45deg,
    #e0f7fa,
    #b2ebf2,
    #4dd0e1,
    #26c6da,
    #00bcd4
  );
  background-size: 400% 400%;
  animation: waveAnimation 16s linear infinite;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 2% 8%;
  }
  50% {
    background-position: -2% 3%;
  }
  75% {
    background-position: -1% 2%;
  }
  100% {
    background-position: 1% 2%;
  }
}
