@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranYekan";
  src: url("/fonts/woff2/IRANSansX-Regular.woff2") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranYekan, sans-serif;
}

.bg {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatingBackground 10s ease-in-out infinite;
}

.bgsingup {
  background-image: url("/images/singup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatingBackground 10s ease-in-out infinite;
}

.bglogin {
  background-image: url("/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: floatingBackground 10s ease-in-out infinite;
}

@keyframes floatingBackground {
  0% {
    background-position: center;
  }
  25% {
    background-position: 55% 45%;
  }
  50% {
    background-position: 50% 55%;
  }
  75% {
    background-position: 45% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
